# Activity 2 : K-nn classification using credit data

In [222]:
data <-read.csv("german_credit_data1.csv",header=T)
head(data)

  X. Age Sex    Job Housing Saving.accounts Checking.account Credit.amount
1 0  67  male   2   own     NA              little           1169
2 1  22  female 2   own     little          moderate         5951
3 2  49  male   1   own     little          NA               2096
4 3  45  male   2   free    little          little           7882
5 4  53  male   2   free    little          little           4870
6 5  35  male   1   free    NA              NA               9055
  Duration Purpose             Credit.Risks
1  6       radio/TV            1
2 48       radio/TV            2
3 12       education           1
4 42       furniture/equipment 1
5 24       car                 2
6 36       education           1

<p style="color:blue"> <font size='4'>All the columns are converted into numeric values as shown below </font></p>

In [223]:
new_data$Sex <- as.numeric(new_data$Sex)
new_data$Housing <- as.numeric(new_data$Housing)
new_data$Saving.accounts <- as.numeric(new_data$Saving.accounts)
new_data$Checking.account <- as.numeric(new_data$Checking.account)
new_data$Purpose <- as.numeric(new_data$Purpose)
head(new_data)

   X. Age       Sex Job       Housing   Saving.accounts Checking.account
2   1 0.2933333 0.5 0.6666667 0.6666667 0.25            0.6666667
4   3 0.6000000 1.0 0.6666667 0.3333333 0.25            0.3333333
5   4 0.7066667 1.0 0.6666667 0.3333333 0.25            0.3333333
8   7 0.4666667 1.0 1.0000000 1.0000000 0.25            0.6666667
10  9 0.3733333 1.0 1.0000000 0.6666667 0.25            0.6666667
11 10 0.3333333 0.5 0.6666667 1.0000000 0.25            0.6666667
   Credit.amount Duration  Purpose Credit.Risks saving_n_checking
2  0.32300261    0.6666667 0.750   2            3
4  0.42781155    0.5833333 0.625   1            2
5  0.26432914    0.3333333 0.250   2            2
8  0.37711680    0.5000000 0.250   1            3
10 0.28408597    0.4166667 0.250   2            3
11 0.07028875    0.1666667 0.250   2            3
   saving_n_checking.1 saving_n_checking.2
2  3                   3
4  2                   2
5  2                   2
8  3                   3
10 3                   3
11 3                   3

<p style="color:blue"> <font size='4'>All the values in the dataframe are normalized as shown below.</font> </p>

In [224]:
for (i in 2:10){
    new_data[,i] <- new_data[,i]/max(new_data[,i])  #normalize the data
}
head(new_data)

   X. Age       Sex Job       Housing   Saving.accounts Checking.account
2   1 0.2933333 0.5 0.6666667 0.6666667 0.25            0.6666667
4   3 0.6000000 1.0 0.6666667 0.3333333 0.25            0.3333333
5   4 0.7066667 1.0 0.6666667 0.3333333 0.25            0.3333333
8   7 0.4666667 1.0 1.0000000 1.0000000 0.25            0.6666667
10  9 0.3733333 1.0 1.0000000 0.6666667 0.25            0.6666667
11 10 0.3333333 0.5 0.6666667 1.0000000 0.25            0.6666667
   Credit.amount Duration  Purpose Credit.Risks saving_n_checking
2  0.32300261    0.6666667 0.750   2            3
4  0.42781155    0.5833333 0.625   1            2
5  0.26432914    0.3333333 0.250   2            2
8  0.37711680    0.5000000 0.250   1            3
10 0.28408597    0.4166667 0.250   2            3
11 0.07028875    0.1666667 0.250   2            3
   saving_n_checking.1 saving_n_checking.2
2  3                   3
4  2                   2
5  2                   2
8  3                   3
10 3                   3
11 3                   3

## a) K-NN considering Age, Savings+Checking account and Credit.Risks as label

<p style="color:blue"><font size='4'> The sizes of training set and testing sets have been taken as 80 and 20 percent respectively </font> </p>

In [225]:
training_size = 0.8
train_samples<-sample(1:nrow(new_data), training_size*nrow(new_data), replace=FALSE)
train_set <- subset(new_data[train_samples,],select=c(Age,Sex,Job,Housing,Saving.accounts,Checking.account,Credit.amount,Duration,Purpose))



test_samples<-setdiff(1:nrow(new_data),train_samples)
test_set<-subset(new_data[test_samples,],select=c(Age,Sex,Job,Housing,Saving.accounts,Checking.account,Credit.amount,Duration,Purpose))

In [226]:
head(test_set)

   Age       Sex Job       Housing   Saving.accounts Checking.account
33 0.4000000 1.0 0.6666667 0.6666667 0.50            0.6666667
38 0.4933333 1.0 0.6666667 0.6666667 0.25            1.0000000
73 0.6800000 1.0 1.0000000 0.3333333 0.25            0.3333333
74 0.5466667 0.5 0.3333333 0.6666667 0.25            0.6666667
78 0.6800000 1.0 0.6666667 0.6666667 0.25            0.6666667
85 0.6933333 1.0 0.3333333 0.6666667 0.25            0.3333333
   Credit.amount Duration  Purpose
33 0.31838906    0.2500000 0.250
38 0.11398176    0.2500000 0.750
73 0.06317846    0.1111111 1.000
74 0.32316544    0.5833333 0.125
78 0.25895571    0.1527778 0.750
85 0.12565132    0.1388889 0.750

In [227]:
head(train_set)

    Age       Sex Job       Housing   Saving.accounts Checking.account
76  0.8800000 1.0 1.0000000 0.3333333 0.25            0.3333333
458 0.4666667 1.0 0.6666667 0.3333333 0.25            0.3333333
806 0.3200000 1.0 0.6666667 0.6666667 0.25            0.3333333
807 0.3466667 1.0 0.3333333 0.6666667 0.25            0.6666667
815 0.6133333 1.0 0.6666667 0.3333333 0.25            0.3333333
341 0.3200000 0.5 0.6666667 0.3333333 0.25            0.6666667
    Credit.amount Duration   Purpose
76  0.08282675    0.16666667 0.25
458 0.18378202    0.16666667 0.25
806 0.50320234    0.50000000 0.25
807 0.03202345    0.08333333 0.75
815 0.21336300    0.66666667 0.25
341 0.31171298    0.33333333 0.50

In [228]:
new_data$Credit.Risks <- factor(new_data$Credit.Risks)
train_labels <- new_data$Credit.Risks[train_samples]
true_labels <- new_data$Credit.Risks[test_samples]
num_test_labels <- nrow(new_data)*(1-training_size)

In [229]:
result_df <- data.frame(k,misclassification.rate)

In [230]:
library(class)
#compute and print misclassification rate
for(k in 1:20) {
  print(k)
  predict_labels <- knn(train_set,test_set,train_labels,k)
  num.incorrect.labels<-sum(predict_labels !=true_labels)
  misclassification.rate<-num.incorrect.labels/num_test_labels
  print(misclassification.rate)
  result_df <- rbind(result_df ,cbind(k,misclassification.rate))
}
# res_df <- res_df[0,]

[1] 1
[1] 0.4022989
[1] 2
[1] 0.4789272
[1] 3
[1] 0.3065134
[1] 4
[1] 0.335249
[1] 5
[1] 0.3831418
[1] 6
[1] 0.440613
[1] 7
[1] 0.3831418
[1] 8
[1] 0.3831418
[1] 9
[1] 0.3735632
[1] 10
[1] 0.3735632
[1] 11
[1] 0.3927203
[1] 12
[1] 0.3544061
[1] 13
[1] 0.3735632
[1] 14
[1] 0.4022989
[1] 15
[1] 0.3927203
[1] 16
[1] 0.3927203
[1] 17
[1] 0.3735632
[1] 18
[1] 0.3448276
[1] 19
[1] 0.3831418
[1] 20
[1] 0.3544061

In [231]:
result_df

   k  misclassification.rate
1  20 0.2873563
2   1 0.4022989
3   2 0.4789272
4   3 0.3065134
5   4 0.3352490
6   5 0.3831418
7   6 0.4406130
8   7 0.3831418
9   8 0.3831418
10  9 0.3735632
11 10 0.3735632
12 11 0.3927203
13 12 0.3544061
14 13 0.3735632
15 14 0.4022989
16 15 0.3927203
17 16 0.3927203
18 17 0.3735632
19 18 0.3448276
20 19 0.3831418
21 20 0.3544061

<p style="color:blue"> <font size='4'> Repeating the above for various sizes of training sets and testing sets and choosing various k values. We get the following table. </font></p>

In [232]:
result_mat <- matrix(nrow=20,ncol=4)

In [233]:


    for(i in c(60,70,80,90)){
            for(k in 1:20){
                training_size = i/100
                train_samples<-sample(1:nrow(new_data), training_size*nrow(new_data), replace=FALSE)
                train_set <- subset(new_data[train_samples,],select=c(Age,Sex,Job,Housing,Saving.accounts,Checking.account,Credit.amount,Duration,Purpose))


                test_samples<-setdiff(1:nrow(new_data),train_samples)
                test_set<-subset(new_data[test_samples,],select=c(Age,Sex,Job,Housing,Saving.accounts,Checking.account,Credit.amount,Duration,Purpose))

                train_labels <- new_data$Credit.Risks[train_samples]
                true_labels <- new_data$Credit.Risks[test_samples]
                num_test_labels <- nrow(new_data)*(1-training_size)

                predict_labels <- knn(train_set,test_set,train_labels,i)
                num.incorrect.labels<-sum(predict_labels !=true_labels)
                misclassification.rate<-num.incorrect.labels/num_test_labels

                
                
                if(i==60){
                
                result_mat[k,1] <- misclassification.rate  # i = 60 corresponds to first column
            }
            else if (i==70){
                
                result_mat[k,2] <- misclassification.rate  # i = 70 corresponds to second column
            }
            else if(i==80){
                result_mat[k,3] <- misclassification.rate  # i = 80 corresponds to third column
            }
            else{
                result_mat[k,4] <- misclassification.rate  # i = 90 corresponds to fourth column
            }
                
        }
        
        
        
        
        
    
}

In [234]:
result_mat[1,1] <- misclassification.rate

In [235]:
result_mat_df <- as.data.frame(result_mat)

In [236]:
result_mat_final <- setNames(result_mat_df, c("train size = 60%","train size = 70%","train size = 80%","train size = 90%"))

In [237]:
result_mat_final

   train size = 60% train size = 70% train size = 80% train size = 90%
1  0.3448276        0.3703704        0.2873563        0.3831418
2  0.4406130        0.3959132        0.3927203        0.2873563
3  0.3831418        0.4086845        0.2681992        0.3639847
4  0.4118774        0.4150702        0.2777778        0.4980843
5  0.4022989        0.4214559        0.4310345        0.4022989
6  0.3687739        0.3959132        0.3639847        0.3256705
7  0.3687739        0.3703704        0.3831418        0.4597701
8  0.3783525        0.4150702        0.3544061        0.4597701
9  0.3400383        0.3959132        0.3160920        0.4214559
10 0.4166667        0.3959132        0.3448276        0.4214559
11 0.3304598        0.3128991        0.4022989        0.3639847
12 0.3831418        0.4086845        0.4118774        0.3256705
13 0.3783525        0.3512133        0.2873563        0.4597701
14 0.4406130        0.3575990        0.3065134        0.3256705
15 0.3208812        0.3320562        0.3544061        0.3065134
16 0.3304598        0.3001277        0.3065134        0.4597701
17 0.3160920        0.3703704        0.2969349        0.3448276
18 0.3975096        0.3831418        0.3831418        0.4406130
19 0.3783525        0.3639847        0.3448276        0.3639847
20 0.4214559        0.3959132        0.4118774        0.3448276

In [238]:
k_col <- as.data.frame(c(1:20))
k_col <- setNames(k_col,"K values")
print_result <- cbind(k_col,result_mat_final)
print_result

   K values train size = 60% train size = 70% train size = 80% train size = 90%
1   1       0.3448276        0.3703704        0.2873563        0.3831418
2   2       0.4406130        0.3959132        0.3927203        0.2873563
3   3       0.3831418        0.4086845        0.2681992        0.3639847
4   4       0.4118774        0.4150702        0.2777778        0.4980843
5   5       0.4022989        0.4214559        0.4310345        0.4022989
6   6       0.3687739        0.3959132        0.3639847        0.3256705
7   7       0.3687739        0.3703704        0.3831418        0.4597701
8   8       0.3783525        0.4150702        0.3544061        0.4597701
9   9       0.3400383        0.3959132        0.3160920        0.4214559
10 10       0.4166667        0.3959132        0.3448276        0.4214559
11 11       0.3304598        0.3128991        0.4022989        0.3639847
12 12       0.3831418        0.4086845        0.4118774        0.3256705
13 13       0.3783525        0.3512133        0.2873563        0.4597701
14 14       0.4406130        0.3575990        0.3065134        0.3256705
15 15       0.3208812        0.3320562        0.3544061        0.3065134
16 16       0.3304598        0.3001277        0.3065134        0.4597701
17 17       0.3160920        0.3703704        0.2969349        0.3448276
18 18       0.3975096        0.3831418        0.3831418        0.4406130
19 19       0.3783525        0.3639847        0.3448276        0.3639847
20 20       0.4214559        0.3959132        0.4118774        0.3448276