## European soccer database query-answering

In [14]:
library(dplyr)
player_df <- read.csv(file="/Users/arunchandrapendyala/Desktop/player.csv",head=TRUE,sep=",")
team_df <- read.csv(file="/Users/arunchandrapendyala/Desktop/team.csv",head=TRUE,sep=",")

In [15]:
#Answer the queries
#1) Which are the top 10 players by overall rating?

arrange(player_df, desc(overall_rate)) %>% select(player_id,player_name,overall_rate) %>% head(n=10)

   player_id player_name       overall_rate
1  30981     Lionel Messi      94
2  30893     Cristiano Ronaldo 93
3  30717     Gianluigi Buffon  93
4  30829     Wayne Rooney      93
5  39989     Gregory Coupet    92
6  39854     Xavi Hernandez    92
7  30723     Alessandro Nesta  91
8  30955     Andres Iniesta    91
9  34520     Fabio Cannavaro   91
10 30657     Iker Casillas     91

In [16]:
#2) Which are the top 10 goalkeepers by sum of gk attributes?

arrange(player_df, desc(gk_rate)) %>% select(player_id,player_name,gk_rate) %>% head(n=10)

   player_id player_name       gk_rate
1   30717    Gianluigi Buffon  449
2   39989    Gregory Coupet    447
3   30859    Petr Cech         445
4   30657    Iker Casillas     442
5   27299    Manuel Neuer      440
6   30989    Julio Cesar       438
7   24503    Sebastian Frey    437
8   30726    Edwin van der Sar 436
9  182917    David De Gea      429
10  30622    Paul Robinson     426

In [17]:
#3) Which are the top 10 players by number of appearances (with any team they played with)?

arrange(player_df, desc(num_appear)) %>% select(player_id,player_name,number_of_appearances = num_appear) %>% head(n=10)

   player_id player_name          number_of_appearances
1  31293     Steve Mandanda       300
2  41097     Stephane Ruffier     294
3  33764     Gorka Iraizoz Moreno 286
4  42422     Samir Handanovic     286
5  26295     Hugo Lloris          282
6  31465     Tim Howard           282
7  31432     Joe Hart             275
8  26168     Cedric Carrasso      268
9  26399     Daniel Congre        262
10 94550     Moussa Sissoko       260

In [18]:
#4)  Which are the top 10 players by number of leagues they played in?

arrange(player_df, desc(leag_num)) %>% select(player_id,player_name,number_of_leagues = leag_num) %>% head(n=10)

   player_id player_name           number_of_leagues
1   42119    Gelson Fernandes      6
2  178538    Filip Djuricic        5
3  116750    Ricky van Wolfswinkel 5
4  156534    Aleksandar Tonev      4
5  129918    Alfred Finnbogason    4
6   25816    Almen Abdi            4
7   93484    Aly Cissokho          4
8   46509    Angel Di Maria        4
9   96643    Bojan Krkic           4
10  38229    Bryan Ruiz            4

In [19]:
#5) Which are the top 10 teams by sum of build up play attributes?

arrange(team_df, desc(buildup)) %>% select(team_id,team_name,sum_of_buildup = buildup) %>% head(n=10)

   team_id team_name                  sum_of_buildup
1    9804  Torino                     209
2    8600  Udinese                    205
3    8194  Fortuna Düsseldorf         198
4    8033  Podbeskidzie Bielsko-Biała 193
5    8245  Korona Kielce              192
6  208931  Carpi                      190
7    8244  Widzew Łódź                190
8    8024  Widzew Łódź                190
9    9830  FC Nantes                  189
10   8543  Lazio                      188

In [20]:
#6)  Which are the top 10 teams by sum of chance creation attributes?
arrange(team_df, desc(chance),team_name) %>% select(team_id,team_name,sum_of_chance_creation = chance) %>% head(n=10)

   team_id team_name           sum_of_chance_creation
1  8543    Lazio               220
2  8697    SV Werder Bremen    216
3  9875    Napoli              215
4  8485    Aberdeen            210
5  8178    Bayer 04 Leverkusen 210
6  8658    Birmingham City     210
7  8191    Burnley             210
8  8344    Cardiff City        210
9  9860    Heart of Midlothian 210
10 8456    Manchester City     210

In [21]:
#7) Which are the top 10 teams by sum of defense attributes?

arrange(team_df, desc(defence),team_name) %>% select(team_id,team_name,sum_of_defence_attributes = defence) %>% head(n=10)

   team_id team_name             sum_of_defence_attributes
1  8350    1. FC Kaiserslautern  210
2  8481    AS Nancy-Lorraine     210
3  9993    Beerschot AC          210
4  8658    Birmingham City       210
5  8483    Blackpool             210
6  8678    Bournemouth           210
7  8344    Cardiff City          210
8  9904    Hannover 96           210
9  8667    Hull City             210
10 1957    Jagiellonia Białystok 210

In [22]:
# 8) Which are the top 10 teams by number of scored goals?
 
arrange(team_df, desc(goals_total)) %>% select(team_id,team_name,sum_of_goals = goals_total) %>% head(n=10)

   team_id team_name         sum_of_goals
1   8634   FC Barcelona      849
2   8633   Real Madrid CF    843
3   9925   Celtic            695
4   9823   FC Bayern Munich  653
5   8640   PSV               652
6   8593   Ajax              647
7   9931   FC Basel          619
8   8456   Manchester City   606
9   8455   Chelsea           583
10 10260   Manchester United 582