## Implementation of R vignette

In [2]:
#install.packages("nycflights13")
#install.packages("dplyr")

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done
Warning message in install.packages("dplyr"):
“installation of package ‘dplyr’ had non-zero exit status”Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [8]:
library(dplyr)
nyc_db <- src_sqlite("/Users/arunchandrapendyala/Desktop/nyc_db.sqlite3", create = T)

In [9]:
library(nycflights13)
flights_sqlite <- copy_to(nyc_db, flights, temporary = FALSE, indexes = list(
  c("year", "month", "day"), "carrier", "tailnum"))

In [10]:
flights_sqlite <- tbl(nycflights13_sqlite(), "flights")
flights_sqlite

Caching nycflights db at /var/folders/zz/0n1sj6k12yb0zn3kdpw2wntr0000gn/T//RtmpsPppYz/nycflights13.sqlite
Creating table: airlines
Creating table: airports
Creating table: flights
Creating table: planes
Creating table: weather

Source:   query [?? x 19]
Database: sqlite 3.11.1 [/var/folders/zz/0n1sj6k12yb0zn3kdpw2wntr0000gn/T//RtmpsPppYz/nycflights13.sqlite]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     1      517            515         2      830            819
2   2013     1     1      533            529         4      850            830
3   2013     1     1      542            540         2      923            850
4   2013     1     1      544            545        -1     1004           1022
5   2013     1     1      554            600        -6      812            837
6   2013     1     1      554            558        -4      740            728
7   2013     1     1      555            600        -5      913            854
8   2013     1     1      557            600        -3      709            723
9   2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with more rows, and 11 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>

In [11]:
tbl(my_db, sql("SELECT * FROM flights"))

Source:   query [?? x 19]
Database: sqlite 3.11.1 [/Users/arunchandrapendyala/Desktop/my_db.sqlite3]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     1      517            515         2      830            819
2   2013     1     1      533            529         4      850            830
3   2013     1     1      542            540         2      923            850
4   2013     1     1      544            545        -1     1004           1022
5   2013     1     1      554            600        -6      812            837
6   2013     1     1      554            558        -4      740            728
7   2013     1     1      555            600        -5      913            854
8   2013     1     1      557            600        -3      709            723
9   2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with more rows, and 11 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>

In [12]:
select(flights_sqlite, year:day, dep_delay, arr_delay)

Source:   query [?? x 5]
Database: sqlite 3.11.1 [/var/folders/zz/0n1sj6k12yb0zn3kdpw2wntr0000gn/T//RtmpsPppYz/nycflights13.sqlite]

    year month   day dep_delay arr_delay
   <int> <int> <int>     <dbl>     <dbl>
1   2013     1     1         2        11
2   2013     1     1         4        20
3   2013     1     1         2        33
4   2013     1     1        -1       -18
5   2013     1     1        -6       -25
6   2013     1     1        -4        12
7   2013     1     1        -5        19
8   2013     1     1        -3       -14
9   2013     1     1        -3        -8
10  2013     1     1        -2         8
# ... with more rows

In [13]:
c1 <- filter(flights_sqlite, dep_delay > 240)
c1

Source:   query [?? x 19]
Database: sqlite 3.11.1 [/var/folders/zz/0n1sj6k12yb0zn3kdpw2wntr0000gn/T//RtmpsPppYz/nycflights13.sqlite]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     1      848           1835       853     1001           1950
2   2013     1     1     1815           1325       290     2120           1542
3   2013     1     1     1842           1422       260     1958           1535
4   2013     1     1     2115           1700       255     2330           1920
5   2013     1     1     2205           1720       285       46           2040
6   2013     1     1     2343           1724       379      314           1938
7   2013     1     2     1332            904       268     1616           1128
8   2013     1     2     1412            838       334     1710           1147
9   2013     1     2     1607           1030       337     2003           1355
10  2013     1     2     2131           1512       379     2340           1741
# ... with more rows, and 11 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>

In [14]:
c2 <- arrange(flights_sqlite, year, month, day)
c2

Source:   query [?? x 19]
Database: sqlite 3.11.1 [/var/folders/zz/0n1sj6k12yb0zn3kdpw2wntr0000gn/T//RtmpsPppYz/nycflights13.sqlite]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     1      517            515         2      830            819
2   2013     1     1      533            529         4      850            830
3   2013     1     1      542            540         2      923            850
4   2013     1     1      544            545        -1     1004           1022
5   2013     1     1      554            600        -6      812            837
6   2013     1     1      554            558        -4      740            728
7   2013     1     1      555            600        -5      913            854
8   2013     1     1      557            600        -3      709            723
9   2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with more rows, and 11 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>

In [15]:
c3 <- mutate(flights_sqlite, speed = air_time / distance)
c3

Source:   query [?? x 20]
Database: sqlite 3.11.1 [/var/folders/zz/0n1sj6k12yb0zn3kdpw2wntr0000gn/T//RtmpsPppYz/nycflights13.sqlite]

    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
1   2013     1     1      517            515         2      830            819
2   2013     1     1      533            529         4      850            830
3   2013     1     1      542            540         2      923            850
4   2013     1     1      544            545        -1     1004           1022
5   2013     1     1      554            600        -6      812            837
6   2013     1     1      554            558        -4      740            728
7   2013     1     1      555            600        -5      913            854
8   2013     1     1      557            600        -3      709            723
9   2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with more rows, and 12 more variables: arr_delay <dbl>, carrier <chr>,
#   flight <int>, tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>,
#   distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dbl>, speed <dbl>

In [16]:
c4 <- summarise(flights_sqlite, delay = mean(dep_time))
c4

Source:   query [?? x 1]
Database: sqlite 3.11.1 [/var/folders/zz/0n1sj6k12yb0zn3kdpw2wntr0000gn/T//RtmpsPppYz/nycflights13.sqlite]

    delay
    <dbl>
1 1349.11

In [17]:
collect(c4)

  delay
1 1349.11

In [18]:
explain(c4)

<SQL>
SELECT AVG(`dep_time`) AS `delay`
FROM `flights`


<PLAN>
   addr      opcode p1  p2 p3      p4 p5 comment
1     0        Init  0  12  0         00      NA
2     1        Null  0   1  2         00      NA
3     2    OpenRead  0 131  0       4 00      NA
4     3      Rewind  0   7  0         00      NA
5     4      Column  0   3  3         00      NA
6     5    AggStep0  0   3  1  avg(1) 01      NA
7     6        Next  0   4  0         01      NA
8     7       Close  0   0  0         00      NA
9     8    AggFinal  1   1  0  avg(1) 00      NA
10    9        Copy  1   4  0         00      NA
11   10   ResultRow  4   1  0         00      NA
12   11        Halt  0   0  0         00      NA
13   12 Transaction  0   0 16       0 01      NA
14   13   TableLock  0 131  0 flights 00      NA
15   14        Goto  0   1  0         00      NA

In [20]:
translate_sql(x==1 && (y<2 || z>3))

<SQL> "x" = 1.0 AND ("y" < 2.0 OR "z" > 3.0)

In [21]:
translate_sql(x ^ 2 < 10)

<SQL> POWER("x", 2.0) < 10.0

In [22]:
translate_sql(x %% 2 == 10)

<SQL> "x" % 2.0 = 10.0

In [23]:
translate_sql(1)

<SQL> 1.0

In [25]:
by_tailnum <- group_by(flights_sqlite, tailnum)
 delay <- summarise(by_tailnum,
 count = n(),
 dist = mean(distance),
 delay = mean(arr_delay)                   
)
delay <- filter(delay, count > 20, dist < 2000) 
delay_local <- collect(delay)

In [27]:
head(delay_local)

  tailnum count dist     delay
1 NA      2512  710.2576        NA
2 N0EGMQ   371  676.1887  9.982955
3 N10156   153  757.9477 12.717241
4 N102UW    48  535.8750  2.937500
5 N103US    46  535.1957 -6.934783
6 N104UW    47  535.2553  1.804348